/* Autores: Victor Gabriel Purkott Coelho & Brayan Carvalho */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #000000, #b65607); 
    color: #fff; 
    font-family: Arial, sans-serif; 
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bolhas{
    position: relative;
    display: flex;
}

.bolhas span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 10px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bolhas span:nth-child(even){
    background: #b65607;
    box-shadow: 0 0 0 10px #6e3506, 0 0 50px #9e4c08, 0 0 100px #9e4c08;
}

@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}

.calculadora {
    background-color: #333; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgb(255, 136, 0); 
    max-width: 400px; 
    margin: auto; 
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

h2 {
    color: #fff; 
}

label {
    color: #fff; 
}

input[type="number"],
select,
input[type="text"],
textarea {
    background-color: #444; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    padding: 8px 10px; 
    margin-bottom: 10px; 
}

input[type="submit"] {
    background-color: #666; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    margin-right: 10px; 
}

input[type="submit"]:hover {
    background-color: #555; 
    box-shadow: 0 0 10px 2px rgb(255, 136, 0); 
}

textarea {
    background-color: #444;
    resize: none;
}
body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

